<div class="div_footer">
    <div class="div_copyright">Copyright © 2018 - Brandt Precision Machining, Inc. - All Rights Reserved</div>
    <div class="div_footer_contact"><a href="tel:+15123397251">Ph: 1 (512) 339-7251</a></div>
    <div class="div_footer_contact">Fax: 1 (512) 339-0225</div>
    <div class="div_footer_contact"><a href="mailto:info@brandtprecision.com">info@brandtprecision.com</a></div>
</div>