<div class="div_footer_large">
    <div class="div_footer_contact"><a href="tel:+15123397251">Ph: 1 (512) 339-7251</a></div>
    <div class="div_footer_contact">Fax: 1 (512) 339-0225</div>
    <div class="div_footer_contact"><a href="mailto:info@brandtprecision.com">info@brandtprecision.com</a></div>
    <div class="div_copyright">Copyright © 2018 - Brandt Precision Machining, Inc. - All Rights Reserved</div>
</div>
<div class="div_footer_small">
    <div class="div_phone_icon" id="div_phone_icon"><a href="tel:+15123397251"><img src="phone_icon_white.png" /></a></div>
    <div class="div_footer_contact"><a href="tel:+15123397251">Ph: 1 (512) 339-7251</a></div>
    <div class="div_footer_contact">Fax: 1 (512) 339-0225</div>
    <div class="div_footer_contact"><a href="mailto:info@brandtprecision.com">info@brandtprecision.com</a></div>
    <br /><div class="div_copyright">Copyright © 2018 - Brandt Precision Machining, Inc. - All Rights Reserved</div>
</div>