
<div class="div_nav_container">   
    <div class="div_logo"><img src="logo_only.png" width="156" height="46" /></div>
    <div class="div_nav">
        <% if (selected_link) { %>
            <% if (selected_link === 'HOME') { %>
                <div class="div_nav_link"><u>HOME</u></div>
            <% } else { %>
                <div class="div_nav_link"><a href="/index">HOME</a></div>
            <% } %>
            <% if (selected_link === 'SERVICES') { %>
                <div class="div_nav_link"><u>SERVICES</u></div>
            <% } else { %>
            <div class="div_nav_link"><a href="/services">SERVICES</a></div>
            <% } %>
            <% if (selected_link === 'PORTFOLIO') { %>
                <div class="div_nav_link"><u>PORTFOLIO</u></div>
            <% } else { %>
            <div class="div_nav_link"><a href="/portfolio">PORTFOLIO</a></div>
            <% } %>
            <% if (selected_link === 'ABOUT') { %>
                <div class="div_nav_link"><u>ABOUT</u></div>
            <% } else { %>
            <div class="div_nav_link"><a href="/about">ABOUT</a></div>
            <% } %>
            <% if (selected_link === 'CONTACT') { %>
                <div class="div_nav_link"><u>CONTACT</u></div>
            <% } else { %>
            <div class="div_nav_link"><a href="/contact">CONTACT</a></div>
            <% } %>
        <% } else { %>
            <div class="div_nav_link"><a href="/index">HOME</a></div>
            <div class="div_nav_link"><a href="/services">SERVICES</a></div>
            <div class="div_nav_link"><a href="/portfolio">PORTFOLIO</a></div>
            <div class="div_nav_link"><a href="/about">ABOUT</a></div>
            <div class="div_nav_link"><a href="/contact">CONTACT</a></div>
        <% } %>
    </div>
</div>