<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/nav.css" charset="utf-8">
        <link rel="stylesheet" href="/index.css" charset="utf-8">
        <link rel="stylesheet" href="/about.css" charset="utf-8">
    <title>Brandt Precision Machining - About</title>
</head>
<body>
    <div class="div_body">
        <div class="div_main_container">
            <% include partials/nav_bar.ejs %>
            <div class="div_about_main">
                <div class="div_about_sub_header">Company</div>
                <div class="div_about_blurb">Brandt Precision Machining has been in business since 1989.
                    Our crew's combined experience exceeds 170 years.
                    Several of our machinists have each been in the industry for over 30 years.
                    This level of expertise allows us to meet the highest of quality control standards.
                </div>
                <div class="div_staff_photo"><img id="img_staff_photo" src="staff.jpg"></div>
            </div>
            <div class="div_about_main">
                <div class="div_about_sub_header">Clients</div>
                <div class="div_about_blurb">Our customers choose us for many reasons:
                    <ul id="ul_clients">
                        <li>Commitment to Quality and Confidentiality</li>
                        <li>Ability to Hold Consistently Close Tolerances</li>
                        <li>State-of-the-Art Design Facilities</li>
                        <li>Experience with Most Plastics and Metals</li>
                        <li>Experienced Work Force</li>
                        <li>Quick Turn-Around Times</li>
                    </ul>
                </div>
            </div>
            <div class="div_about_main">
                <div class="div_about_sub_header">Industries</div>
                <div class="div_about_blurb">We serve many industries with new parts, repairs, and modifications.
                    <ul id="ul_industries">
                        <li>Medical</li>
                        <li>Aircraft</li>
                        <li>Plastics</li>
                        <li>Production</li>
                        <li>Food/Beverage</li>
                        <li>Semi-conductor</li>
                        <li>Electronics</li>
                        <li>Custom Motorcycle</li>
                        <li>Custom Automotive</li>
                        <li>Tooling and Fabrication</li>
                        <li>Architecture</li>
                        <li>Alternative Energy</li>
                        <li>Industrial</li>
                    </ul>
                </div>
            </div>
        <% include partials/footer.ejs %>
        </div>
    </div>
</body>
</html>