<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/nav.css" charset="utf-8">
        <link rel="stylesheet" href="/index.css" charset="utf-8">
        <link rel="stylesheet" href="/footer.css" charset="utf-8">
    <title>Brandt Precision Machining - Home</title>
</head>
<body>
    <div class="div_body">
        <div class="div_main_container">
            <% include partials/nav_bar.ejs %>
            <div class="div_machining_excellence">MACHINING EXCELLENCE</div>
            <div class="div_thumb_blurb">Brandt Precision Machining, Inc. is a full service machine shop serving Central Texas and the Southwest.
            </div>
            <div class="div_thumb_container">
                <a href="services"><div class="div_thumb"><img src="thumb_carb_spacer_cad.jpg" width="160" height="120">Concept-to-Product</div></a>
                <a href="services"><div class="div_thumb"><img src="thumb_machining.jpg" width="160" height="120">CNC and Manual Machining</div></a>
                <a href="services"><div class="div_thumb"><img src="thumb_medical.jpg" width="160" height="120">Medical | Instrument<br />Semiconductor</div></a>
                <a href="services"><div class="div_thumb"><img src="thumb_tooling.jpg" width="160" height="120">Custom Tooling</div></a>
                <a href="services"><div class="div_thumb"><img src="thumb_welding.jpg" width="160" height="120">Welding and Grinding Services</div></a>
            </div>
            <% include partials/footer.ejs %>
        </div>
    </div>
</body>
</html>