<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/nav.css" charset="utf-8">
        <link rel="stylesheet" href="/index.css" charset="utf-8">
        <link rel="stylesheet" href="/portfolio.css" charset="utf-8">
    <title>Brandt Precision Machining - Portfolio</title>
</head>
<body>
    <div class="div_body">
        <div class="div_main_container">
            <% include partials/nav_bar.ejs %>
            <div class="div_portfolio_main">
                <div class="div_portfolio_sub_header_left">Portfolio Job #1</div>
                <!-- enlargement div -->
                <div id="modal01" class="modal">
                    <!-- The Close Button -->
                    <span id="close01" class="close">&times;</span>
                    <!-- Modal Content (The Image) -->
                    <img class="modal-content" id="img01">
                </div>
                <!-- end enlargement div -->
                <div class="div_portfolio_blurb_left">
                <img class="img_portfolio_photo_left" id="portImg01" src="portfolio_01.jpg">
                This is a description of the techniques, tooling, materials, and specialized skills utilized in this project. 
                Any information that sets Brandt Precision Machining apart from other shops should be listed here. 
                Why was this job awarded to BPM rather than some other machine shop? 
                I think the description should be about this long. If you've piqued my interest at this point, 
                I'll ask you more about the job when I show up with mine.
                </div>
                <div class="div_portfolio_sub_header_right">Portfolio Job #2</div>
                <div class="div_portfolio_blurb_right">
                <img class="img_portfolio_photo_right" id="portImg02" src="portfolio_02.jpg">
                This is a description of the techniques, tooling, materials, and specialized skills utilized in this project. 
                Any information that sets Brandt Precision Machining apart from other shops should be listed here. 
                Why was this job awarded to BPM rather than some other machine shop?
                I think the description should be about this long. If you've piqued my interest at this point, 
                I'll ask you more about the job when I show up with mine.
                </div>
                <div class="div_portfolio_sub_header_left">Portfolio Job #3</div>
                <div class="div_portfolio_blurb_left">
                <img class="img_portfolio_photo_left" id="portImg03" src="portfolio_01.jpg">
                This is a description of the techniques, tooling, materials, and specialized skills utilized in this project. 
                Any information that sets Brandt Precision Machining apart from other shops should be listed here. 
                Why was this job awarded to BPM rather than some other machine shop?
                I think the description should be about this long. If you've piqued my interest at this point, 
                I'll ask you more about the job when I show up with mine.
                </div>
            </div>
        <% include partials/footer.ejs %>
        </div>
    </div>
    <script>
        // enlarge image 1
        let modal01 = document.getElementById('modal01');
        let img01 = document.getElementById('portImg01');
        let modalImg01 = document.getElementById("img01");
        let captionText = document.getElementById("caption");
        img01.onclick = function(){
            modal01.style.display = "block";
            modalImg01.src = this.src;
            captionText.innerHTML = this.alt;
        }
        let span = document.getElementById("close01");
        span.onclick = function() { 
            modal01.style.display = "none";
        }
    </script>
</body>
</html>