<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/nav.css" charset="utf-8">
        <link rel="stylesheet" href="/index.css" charset="utf-8">
        <link rel="stylesheet" href="/services.css" charset="utf-8">
    <title>Brandt Precision Machining - Services</title>
</head>
<body>
    <div class="div_body">
        <div class="div_main_container">
            <% include partials/nav_bar.ejs %>
            <div class="div_services_main">
                <div class="div_more">More to come...<br>Stay tuned for updates to this page!</div>
                <a id="design" name="design"><div class="div_services_sub_header_left">Design</div></a>
                <div class="div_services_blurb_left">
                <img class="img_services_photo_left" src="CAD_screen.jpg">
                If you can dream it, we can probably make it a reality!<br />&nbsp;<br />
                Our services include 2D CAD drafting and 3D modeling. We can work with you to develop a concept 
                from the ground up, or accept your design in many common 2D and 3D file formats. We offer on-site 
                consultation when it's necessary, to ensure the fit and function of the end product.
                </div>
                <!-- Prototyping -->
                <div class="div_services_sub_header_right">Prototyping</div>
                <div class="div_services_blurb_right">
                <img class="img_services_photo_right" src="thumb_carb_spacer_cad.png">
                We specialize in developing prototypes, including follow-up diagnostic and refinement, for a variety 
                of industries. Those industries include semi-conductor, medical, aircraft, industrial art and 
                entertainment, and automotive equipment.
                </div>
                <!-- Small and Single Unit Runs -->
                <a id="machining" name="machining"><div class="div_services_sub_header_left">Small and Single-Unit Runs</div></a>
                <div class="div_services_blurb_left">
                <img class="img_services_photo_left" src="services_02.png">
                We provide top notch quality and fast turn-around service on small quantity runs. Our experienced 
                machinists allow us to keep our pricing down and our quality up. We are very competitive with our 
                small-run prices! 
                </div>
                <!-- Production Runs -->
                <div class="div_services_sub_header_right">Production Runs</div>
                <div class="div_services_blurb_right">
                    Our capabilities do include the ability to run larger volumes. We have both staff and equipment to 
                    handle large orders.
                    <div class="div_services_equipment">
                        <figure>
                            <img class="img_services_equipment" src="VM2.png" />
                            <figcaption>Haas VM2<br />30"L 20"W 20"H</figcaption>
                        </figure>
                        <figure>
                                <img class="img_services_equipment" src="minimill.png" />
                                <figcaption>Haas Super Mini Mill 2<br />20"L 16"W 14"H</figcaption>
                            </figure>
                        <figure>
                                <img class="img_services_equipment" src="nexus_410a_ii.png" />
                            <figcaption>Mazak Nexus 410B-II<br />30"L 16"W 20"H</figcaption>
                        </figure>
                        <figure>
                            <img class="img_services_equipment" src="VTC-200B.png" />
                            <figcaption>Mazak VTC-200B<br />44"L 20"W 20"H</figcaption>
                        </figure>
                        <figure>
                                <img class="img_services_equipment" src="V-414.png" />
                            <figcaption>Mazak V-414<br />22"L 16"W 18"H</figcaption>
                        </figure>
                        <figure>
                            <img class="img_services_equipment" src="quickturn_100S.png" />
                            <figcaption>Mazak Quick Turn Smart 100S<br />11"D 22.8"swing 12.2L</figcaption>
                        </figure>
                        <figure>
                            <img class="img_services_equipment" src="quickturn_nexus_250.png" />
                            <figcaption>Mazak Quick Turn Nexus 250<br />15.7"D 23.6"swing 20L</figcaption>
                        </figure>
                        <figure>
                            <img class="img_services_equipment" src="quickturn_8N.png" />
                            <figcaption>Mazak Quick Turn 8N II<br />6.3"D 11"swing 12"L</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="div_services_sub_header_left">Exotic Materials</div>
                <div class="div_services_blurb_left">
                Our work in many different industries has provided experience with many exotic and specialty materials.
                These materials include:
                    <ul id="ul_materials">
                        <li id="li_materials">Titanium</li>
                        <li id="li_materials">Invar</li>
                        <li id="li_materials">Hastelloy</li>
                        <li id="li_materials">Inconel</li>
                        <li id="li_materials">Vespel</li>
                        <li id="li_materials">Radel</li>
                        <li id="li_materials">Torlon</li>
                        <li id="li_materials">Rexolite</li>
                        <li id="li_materials">Celazole PBI</li>
                        <li id="li_materials">Techtron</li>
                        <li id="li_materials">Ultem</li>
                        <li id="li_materials">Phenolic</li>
                        <li id="li_materials">Carbon</li>
                        <li id="li_materials">Bovine Bone</li>
                        <li id="li_materials">Graphite</li>
                        <li id="li_materials">Tungsten-Impregnated Graphite</li>
                        <li id="li_materials">Boron Nitride</li>
                        <li id="li_materials">Ceramics</li>
                        <li id="li_materials">Nickel 200</li>
                        <li id="li_materials">Glass-filled Teflon</li>
                        <li id="li_materials">PEEK and Glass-Filled PEEK</li>
                        <li id="li_materials">Monel</li>
                        <li id="li_materials">Bronze</li>
                        <li id="li_materials">Heavy Metal</li>
                        <li id="li_materials">Beryllium Copper</li>
                        <li id="li_materials">Tungsten</li>
                    </ul>
                </div>
                <!-- Secondary Services -->
                <a id="secondary_services" name="secondary_services"></a>
                <div class="div_services_sub_header_right">Secondary Processes</div>
                <div class="div_services_blurb_right">
                <img class="img_services_photo_right_narrow" src="cleanroom.png">
                Manufacturing isn't just about cutting metal. At Brandt Precision, we boast a wealth of experience coordinating additional services such as paint, powder coating, electro-polishing, or any secondary process specified. 
                <br />&nbsp;<br />
                This even includes special cleaning and packaging approved for clean room use.
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
</body>
</html>