<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="/nav.css" charset="utf-8">
        <link rel="stylesheet" href="/index.css" charset="utf-8">
        <link rel="stylesheet" href="/services.css" charset="utf-8">
    <title>Brandt Precision Machining - Services</title>
</head>
<body>
    <div class="div_body">
        <div class="div_main_container">
            <% include partials/nav_bar.ejs %>
            <div class="div_services_main">
                <div class="div_services_sub_header_left">Design</div>
                <div class="div_services_blurb_left">
                <img class="img_services_photo_left" src="CAD_screen.jpg">
                If you can dream it, we can probably make it a reality!<br />&nbsp;<br />
                Our services include 2D CAD drafting and 3D modeling. We can work with you to develop a concept 
                from the ground up, or accept your design in many common 2D and 3D file formats. We offer on-site 
                consultation when it's necessary, to ensure the fit and function of the end product.
                </div>
                <div class="div_services_sub_header_right">Prototyping</div>
                <div class="div_services_blurb_right">
                <img class="img_services_photo_right" src="thumb_carb_spacer_cad.png">
                We specialize in developing prototypes, including follow-up diagnostic and refinement, for a variety 
                of industries. Those industries include semi-conductor, medical, aircraft, industrial art and 
                entertainment, and automotive equipment.
                </div>
                <div class="div_services_sub_header_left">Small and Single-Unit Runs</div>
                <div class="div_services_blurb_left">
                <img class="img_services_photo_left" src="services_02.png">
                We provide top notch quality and fast turn-around service on small quantity runs. Our experienced 
                machinists allow us to keep our pricing down and our quality up. We are very competitive with our 
                small-run prices! 
                </div>
                <div class="div_services_sub_header_right">Production Runs</div>
                <div class="div_services_blurb_right">
                <img class="img_services_photo_right" src="VTC-200B.png">
                Our capabilities do include the ability to run larger volumes. We have both staff and equipment to 
                handle large orders.
                </div>
                <div class="div_services_sub_header_left">Exotic Materials</div>
                <div class="div_services_blurb_left">
                Our work in many different industries has provided experience with many exotic and specialty materials.
                These materials include:
                    <ul id="ul_materials">
                        <li id="li_materials">Titanium</li>
                        <li id="li_materials">Invar</li>
                        <li id="li_materials">Hastelloy</li>
                        <li id="li_materials">Inconel</li>
                        <li id="li_materials">Vespel</li>
                        <li id="li_materials">Radel</li>
                        <li id="li_materials">Torlon</li>
                        <li id="li_materials">Rexolite</li>
                        <li id="li_materials">Celazole PBI</li>
                        <li id="li_materials">Techtron</li>
                        <li id="li_materials">Ultem</li>
                        <li id="li_materials">Phenolic</li>
                        <li id="li_materials">Carbon</li>
                        <li id="li_materials">Bovine Bone</li>
                        <li id="li_materials">Graphite</li>
                    </ul>
                </div>
            </div>
        </div>
        <% include partials/footer.ejs %>
    </div>
</body>
</html>