    .div_contact_main {
        float: none;
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        /* border: solid gold 1px; */
    }
    .div_form_container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 30px;
        /* border: solid purple 1px; */
    }
    .div_map_container {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 30px;
        /* border: solid purple 1px; */
    }
    .div_map_header {
        width: 100%;
        color: rgb(209, 204, 157);
        text-align: center;
        font-size: 1.9vw;
        font-weight: bold;
        text-shadow: 0px 0px 10px black;
        /* border: solid red 1px; */
    }
    .div_form_header {
        width: 100%;
        color: rgb(209, 204, 157);
        text-align: center;
        font-size: 1.9vw;
        font-weight: bold;
        text-shadow: 0px 0px 10px black;
        /* border: solid red 1px; */
    }
    .div_contact_blurb {
        width: 90%;
        overflow: auto;
        margin-top: 16px;
        text-align: center;
        font-size: 1.25vw;
        text-shadow: 0px 0px 10px black;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        /* border: solid blue 1px; */
    }
    .map {
        width: 25vw;
        height: 25vw;
        border: solid white 2px;
    }
    .div_contact_label {
        width: 100%;
        padding-top: 2px;
        text-align: right;
        font-size: 16px;
        color: white;
        text-shadow: 0px 0px 10px black;
        /* border: solid pink 1px; */
    }
    .div_contact_input {
        width: 100%;
        text-align: left;
        font-size: 20px;
        color: white;
        text-shadow: 0px 0px 1px black;
        /* border: solid pink 1px; */
    }

@media screen and (max-width: 780px) {

    .div_contact_main {
        float: none;
        display: unset;
        width: 95%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        /* border: solid gold 1px; */
    }
    .div_form_container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 30px;
        text-align: center;
        /* border: solid purple 1px; */
    }
    .div_map_container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 30px;
        text-align: center;
        /* border: solid purple 1px; */
    }
    .div_map_header {
        width: 100%;
        color: rgb(209, 204, 157);
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
        text-shadow: 0px 0px 10px black;
        /* border: solid red 1px; */
    }
    .div_form_header {
        width: 100%;
        color: rgb(209, 204, 157);
        text-align: center;
        font-size: 14pt;
        font-weight: bold;
        text-shadow: 0px 0px 10px black;
        /* border: solid red 1px; */
    }
    .div_contact_blurb {
        width: 90%;
        overflow: auto;
        margin-top: 16px;
        text-align: center;
        font-size: 10pt;
        text-shadow: 0px 0px 10px black;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        /* border: solid blue 1px; */
    }
    .map {
        width: 80vw;
        height: 45vw;
        border: solid white 2px;
        align-self: auto;
    }
    .div_contact_label {
        width: 40vw;
        padding-top: 2px;
        text-align: right;
        font-size: 12px;
        color: white;
        text-shadow: 0px 0px 10px black;
        /* border: solid pink 1px; */
    }
    .div_contact_input {
        width: 48vw;
        text-align: left;
        font-size: 12px;
        color: white;
        text-shadow: 0px 0px 1px black;
        /* border: solid pink 1px; */
    }
}