body, html {
    background: url("background_home.jpg");
    background-size: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    margin: 0;
}
.div_body {
    height: 100vh;
    background-color: rgba(32, 16, 0, 0.7);
}
.div_main_container {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}