
    body, html {
        background: url("background_home.jpg");
        background-size: 100%;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        margin: 0;
    }
    .div_body {
        height: 100vh;
        background-color: rgba(32, 16, 0, 0.85);
    }
    .div_main_container {
        width: 80%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    @font-face {
        font-family: "Asche";
        src: url("acherus_grotesque_-_regular.otf") format("opentype");
    }
    .div_machining_excellence {
        z-index: 1;
        height: 82px;
        margin-top: 100px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgba(250, 238, 133, 0.4);
        font-weight: bolder;
        text-align: center;
        font-size: 60pt;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;    
    }
    .div_thumb_blurb {
        z-index: 2;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 12pt;
        text-shadow: 0px 0px 10px black;

    }
    .div_thumb_main {
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
    }
    .div_thumb {
        float: left;
        width: 160px;
        height: 120px;
        border: solid rgba(255, 255, 255, .7) 1px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 10pt;
        text-shadow: 0px 0px 10px black;
        /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
        -webkit-filter: brightness(200%);
        filter: brightness(100%);
        /* filter: grayscale(50%); */
    }
    .div_thumb:hover {
        filter: brightness(120%);
    }
    #img_thumb {
        width: 160px;
        height: 120px;
    }

@media screen and (max-width: 767px) {
    body, html {
        background: url("background_home.jpg");
        background-size: 100%;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        margin: 0;
    }
    .div_body {
        height: 100vh;
        background-color: rgba(32, 16, 0, 0.85);
    }
    .div_main_container {
        width: 90%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    @font-face {
        font-family: "Asche";
        src: url("acherus_grotesque_-_regular.otf") format("opentype");
    }
    .div_machining_excellence {
        z-index: 1;
        height: 52px;
        margin-top: 100px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgba(250, 238, 133, 0.4);
        font-weight: bolder;
        text-align: center;
        font-size: 37pt;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;    
    }
    .div_thumb_blurb {
        z-index: 2;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 10pt;
        text-shadow: 0px 0px 10px black;

    }
    .div_thumb_main {
        display: flex;
        justify-content: space-around;
        margin-top: 80px;
    }
    .div_thumb {
        float: left;
        width: 120px;
        height: 90px;
        border: solid rgba(255, 255, 255, .7) 1px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 10pt;
        text-shadow: 0px 0px 10px black;
        /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
        -webkit-filter: brightness(200%);
        filter: brightness(100%);
        /* filter: grayscale(50%); */
    }
    .div_thumb:hover {
        filter: brightness(120%);
    }
    #img_thumb {
        width: 120px;
        height: 90px;
    }
}
@media screen and (max-width: 479px) {
    body, html {
        background: url("background_home.jpg");
        background-size: 100%;
        font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
        margin: 0;
    }
    .div_body {
        height: 100%;
        background-color: rgba(32, 16, 0, 0.85);
    }
    .div_main_container {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    @font-face {
        font-family: "Asche";
        src: url("acherus_grotesque_-_regular.otf") format("opentype");
    }
    .div_machining_excellence {
        z-index: 1;
        height: 33px;
        margin-top: 60px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgba(250, 238, 133, 0.4);
        font-weight: bolder;
        text-align: center;
        font-size: 22pt;
        overflow: hidden;
        text-overflow: unset;
        white-space: nowrap;   
    }
    .div_thumb_blurb {
        padding-left: 30px;
        padding-right: 30px;
        z-index: 2;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 10pt;
        text-shadow: 0px 0px 10px black;

    }
    .div_thumb_main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 40px;
    }
    .div_thumb_container {
        /* float: left; */
        width: 108px;
        height: 135px;
        /* border: solid rgba(255, 255, 255, .7) 1px; */
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 10pt;
        text-shadow: 0px 0px 10px black;
    }
    .div_thumb {
        /* float: left; */
        width: 108px;
        height: 81px;
        border: solid rgba(255, 255, 255, .7) 1px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 9pt;
        text-shadow: 0px 0px 10px black;
        /* -webkit-filter: grayscale(100%); Safari 6.0 - 9.0 */
        -webkit-filter: none;
        filter: none;
        /* filter: grayscale(50%); */
    }
    .div_thumb:hover {
        filter: none;
    }
    #img_thumb {
        width: 108px;
        height: 81px;
    }
}