    .div_portfolio_main {
        float: none;
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
        /* border: solid green 1px; */
    }
    .div_portfolio_sub_header_left {
        clear: both;
        width: 100%;
        color: rgb(209, 204, 157);
        text-align: left;
        font-size: 1.9vw;
        font-weight: bold;
        text-shadow: 0px 0px 10px black;
        /* border: solid red 1px; */
    }
    .div_portfolio_sub_header_right {
        clear: both;
        width: 100%;
        color: rgb(209, 204, 157);
        text-align: right;
        font-size: 1.9vw;
        font-weight: bold;
        text-shadow: 0px 0px 10px black;
        /* border: solid red 1px; */
    }
    .div_portfolio_blurb_left {
        width: 90%;
        overflow: auto;
        margin-top: 20px;
        text-align: left;
        font-size: 1.25vw;
        text-shadow: 0px 0px 10px black;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        /* border: solid blue 1px; */
    }
    .div_portfolio_blurb_right {
        width: 90%;
        overflow: auto;
        margin-top: 20px;
        text-align: right;
        font-size: 1.25vw;
        text-shadow: 0px 0px 10px black;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        /* border: solid blue 1px; */
    }
    .img_portfolio_photo_left {
        float: right;
        width: 25vw;
        margin-left: 20px;
        margin-bottom: 20px;
        border: solid white 2px;
    }
    .img_portfolio_photo_right {
        float: left;
        width: 25vw;
        margin-right: 20px;
        margin-bottom: 20px;
        border: solid white 2px;
    }
    .modal {
        display: none;
    }
    /* #img01 {
        width: 400px;
    } */
    .close {
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: right;
        font-size: 20pt;
    }

    /* Style the Image Used to Trigger the Modal */
    #myImg {
        /* border-radius: 5px; */
        cursor: pointer;
        transition: 0.3s;
    }

    #myImg:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
        margin: auto;
        display: block;
        width: 100%;
        /* max-width: 800px; */
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption { 
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @keyframes zoom {
        from {transform:scale(0)} 
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
            width: 100%;
        }
    }
    
@media screen and (max-width: 500px) {
    .div_portfolio_main {
        float: none;
        width: 95%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0px;
        padding-right: 0px;
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        /* border: solid green 1px; */
    }
    .div_portfolio_sub_header_left {
        clear: both;
        width: 100%;
        color: rgb(209, 204, 157);
        text-align: left;
        font-size: 14pt;
        font-weight: bold;
        text-shadow: 0px 0px 10px black;
        /* border: solid red 1px; */
    }
    .div_portfolio_sub_header_right {
        clear: both;
        width: 100%;
        color: rgb(209, 204, 157);
        text-align: right;
        font-size: 14pt;
        font-weight: bold;
        text-shadow: 0px 0px 10px black;
        /* border: solid red 1px; */
    }
    .div_portfolio_blurb_left {
        width: 90%;
        overflow: auto;
        margin-top: 7px;
        text-align: left;
        font-size: 10pt;
        text-shadow: 0px 0px 10px black;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        /* border: solid blue 1px; */
    }
    .div_portfolio_blurb_right {
        width: 90%;
        overflow: auto;
        margin-top: 7px;
        text-align: right;
        font-size: 10pt;
        text-shadow: 0px 0px 10px black;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        /* border: solid blue 1px; */
    }
    .img_portfolio_photo_left {
        float: right;
        width: 150px;
        border: solid white 2px;
        margin-left: 7px;
        margin-bottom: 7px;
    }
    .img_portfolio_photo_right {
        float: left;
        width: 150px;
        border: solid white 2px;
        margin-right: 7px;
        margin-bottom: 7px;
    }
    .modal {
        display: none;
    }
    #img01 {
        width: 400px;
    }
    .close {
        font-family: 'Acherus Grotesque', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(255, 255, 255);
        text-align: right;
        font-size: 20pt;
    }
}